
section {
    width: 550px;
    border: 3px double #123456;
    margin: 100px auto;
}

section .title {
    background: #abcdef;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0;
    border-bottom: 3px solid #123456;
    letter-spacing: 15px;
}

section .content {
    padding: 10px;
}

section .content:last-child {
    border-top: 3px dotted #123456;
}

section .content h2 {
    font-size: 1.2em;
    font-weight: bold;
}

section .content p {
    font-size: 0.8em;
    margin-top: 10px;
}

